<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando uma aplicação NodeJS</title>
    <meta name="description" content="Criando uma aplicação NodeJS">
    <meta name="author" content="Rogarfil">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <img src="/img/logo_globo.png" width="40" alt="">
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/list">Monitoramento</a>
        </div>
    </div>

    <main class="container">
        {{{body}}}
    </main>

    <footer>
        <p class="cells">&copy; 2023, by <a href="https://www.rogarfil.com.br">Rogarfil</a>, PMW</p>
        <p class="cells"><a href="tel:+ 5563992193026">+55 63 99219-3026</a></p>
        <p class="cells"><a href="https://www.rogarfil.com.br">rogarfil.com.br</a></p>
    </footer>

    <script src="/js/javascript.js"></script>
</body>

</html>